@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Open+Sans&display=swap');

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 10.5px;
  line-height: 1.25;
}

table {
  font-size: 7.5px!important;
  width: auto !important;
  margin: 2px 0 !important;
  border-collapse: collapse;
}

th, td {
  padding: 2px 5px !important;
  border: 1px solid #ddd;
}

h2 { font-size: 1.3em; margin: 4px 0 2px 0 !important; }
h3 { font-size: 1.1em; margin: 2px 0 1px 0 !important; }
p { margin: 2px 0 !important; }
ul, ol { margin: 2px 0 !important; padding-left: 16px !important; }


img, .quarto-figure img {
  width: 50% !important;
  height: auto !important;
  display: block;
  margin-left: 0 !important;
  margin-right: auto !important;
}

div.columns {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px 0;
}

div.column {
  display: table-cell;
  vertical-align: top;
  flex: none;
  overflow-x: visible;
}

.side-column {
  background-color: #eee;
  border-radius: 5px;
  padding:5px;
}
.main-section{
  padding:5px;
}

h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 1px 0 !important;
    color: #000658;
    letter-spacing: 0.05em;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
